



.wrapper{

	   
     width: 1250px;
	   /*font size: 14px;*/
     margin: 0 auto;

}

.top{

     margin: 10px 30px;
     color: grey;
   }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: inline-block;
    
}

li {
    float: left;
    /*padding-right: 30px;
*/ }

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 2px;
    text-decoration: none;

}

 /*.fon:hover {
    background-color: grey;
}*/


.sec1{
    float: left;
    padding: 5px;
}
.contact{
	display: inline-block;

}
.sec2{
    float: left;
    padding: 2px;
}

.sec3{
    
}

.products2 li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 2px;
    text-decoration: none;

}
   


.sec5{
    
}

.products1{

   padding:5px;
}


ul.products li {
    
    padding: 5px;
    display: inline-block;
}

.products1 li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 2px;
    text-decoration: none;

}
.item{
      text-align: center; 
      color: grey;
      /*margin: 0px 0px;*/

}

.price{
        text-align: center;
        margin: 0px 0px;
}


.star{
         
}

.addcart{

       background-color: #64829c;
       display: inline-block;
       text-align: center;
       padding : 5px;
       vertical-align: 10px;
}

.phone{

    color: grey;
}





.line{

    width:60px;

}

.products3  {
    
    
    display: inline-block;
}



.just{

   width: 100%;
}

.blog{
    
          float: left;


}
.blog-cnt{
  display: flex;
  margin-left: 15px;
}


.fon{

      font-size: 25px;
     color: lightblue;
     display: inline-block;
     text-decoration: none;


}


.text-color{

       color: grey;
}

.blogimg1{


}



.text-color1{

       color: black;
}

.head{

  display: inline-flex;
}


.heart{
        margin-left: 40px;
}


b{ 
   font-size:16px;         

}

span.linepad {
    padding-left: 30px;
    /* padding-top: 62px; */
}
span.linepad2 {
    float: right;
    margin-right: 62px;
    color: #64829c;
    
}


.feature{

    margin-left: 7px;
}

.sec5 li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}



.blog{
  
  
  text-align: left;
  margin: 0px auto;
  padding: 0px;
  border:0;
  display: inline-flex;
  background-color: white;
}

.blog-title {
    width: 80%;
}

.blog1{
  font-size: 16px;
  line-height: 1.3em;
  vertical-align: top;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
 display: inline-flex;

  
}
.blog2{
  font-size: 16px;
  line-height: 1.3em;
  vertical-align: top;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
  display: inline-flex;
    
}
.blog-img{

  
  display: inline-block;
  margin-right:30px;
  border: 1px solid black;

  }


  .cam-icon{
  display: inline-flex;
}
.msg {
    background-color: #64829c;
    padding: 15px;
}
.blog-title {
    width: 80%;
}
.head{
  font-size: 20px;
}
.clint-img{
  margin: 15px 30px;
  display: inline-flex;
  height: 75px;

}
.clint-msg{
  font-size: 17px;
    color: white;
    font-style: italic;
    display: inline;
    font-weight: bold
}
.sometxt{
  color: darkgray;
}
.read{
  text-decoration:none;
  color: gray 
}
.quot{
  float: right;
}
.info{
  padding-left: 30px;
}
.footer{
  background-color: #0c0c0c;
     list-style: none;
  color: white;
  padding: 20px 70px;
}

.footerhead{
  margin: 0;
}

.helplist, .infolist , .followlist{
  float: none;
}
.help , .contact-info {

    float: left;
  padding: 30px;
  width: 250px;
}
.follow{
  padding: 30px;
}
.triangle{
  width: 0;
height: 0;
border-style: solid;
border-width: 30px 25px 0 25px;
border-color: #64829c transparent transparent transparent;
margin-left: 40px;
}


.post-format {
    display: inline-flex;
    margin: 0px 10px;
    font-size: 20px;
    color: #628098;
}


.quot{
  float: right;
}


.logofot{
  padding: 20px;
}
.copy{
  float: right;
  color: gray;
}
.txt{
  color: gray;
}

footer{
  background-color: black;
}

.arrow{
  padding-right: 5px;
}
.last-sec{
  padding: 20px;
}


.followlist :hover{
 
   color: red;
}

 .helplist :hover{
 
   color: red;
}


.cont{

     color: grey;
}