



.wrapper{

	   
     width: 1250px;
	   /*font size: 14px;*/
     margin: 0 auto;

}

.top{

     margin: 10px 30px;
     color: grey;
   }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: inline-block;
    
}

li {
    float: left;
    /*padding-right: 30px;
*/ }

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 2px;
    text-decoration: none;

}

 /*.fon:hover {
    background-color: grey;
}*/


.sec1{
    float: left;
    padding: 5px;
}
.contact{
	display: inline-block;

}
.sec2{
    float: left;
    padding: 2px;
}

.sec3{
    
}

.products2 li a {
    display: block;
    color: black;
    text-align: center;
   /* margin: 0px;
    padding: 2px;*/
    text-decoration: none;

}
   


.sec5{
    
}

.products1{

   padding-right:15px;
}


ul.products li {
    
    padding: 5px;
    display: inline-block;
}

.products1 li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 2px;
    text-decoration: none;

}
.item{
      text-align: center; 
      color: grey;
      /*margin: 0px 0px;*/

}

.price{
        text-align: center;
        margin: 0px 0px;
}


.star{
         
}

.addcart{

       background-color: #64829c;
       display: inline-block;
       text-align: center;
       padding : 5px;
       vertical-align: 10px;
}

.phone{

    color: grey;
    padding-left: 47px;
    

}



.line{

    width:60px;

}

.products3  {
    
    
    display: inline-block;
}



.just{

   width: 100%;
}

.blog{
    
          float: left;


}
.blog-cnt{
  display: flex;
  margin-left: 15px;
}


.fon{

      font-size: 25px;
     color: lightblue;
     display: inline-block;
     text-decoration: none;


}


.text-color{

       color: grey;
}

.blogimg1{


}



.text-color1{

       color: black;
}

.head{

  display: inline-flex;
}


.heart{
        margin-left: 40px;
}


b{ 
   font-size:16px;         

}

span.linepad {
    padding-left: 30px;
    /* padding-top: 62px; */
}
span.linepad2 {
    float: right;
    margin-right: 62px;
    color: #64829c;
    
}


.feature{

    margin-left: 7px;
}

.sec5 li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}



.blog{
  
  
  text-align: left;
  margin: 0px auto;
  padding: 0px;
  border:0;
  display: inline-flex;
  background-color: white;
}

.blog-title {
    width: 80%;
}

.blog1{
  font-size: 16px;
  line-height: 1.3em;
  vertical-align: top;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
 display: inline-flex;

  
}
.blog2{
  font-size: 16px;
  line-height: 1.3em;
  vertical-align: top;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
  display: inline-flex;
    
}
.blog-img{

  
  display: inline-block;
  margin-right:30px;
  border: 1px solid black;

  }


  .cam-icon{
  display: inline-flex;
}
.msg {
    background-color: #64829c;
    padding: 15px;
}
.blog-title {
    width: 80%;
}
.head{
  font-size: 20px;
}
.clint-img{
  margin: 15px 30px;
  display: inline-flex;
  height: 75px;

}
.clint-msg{
  font-size: 17px;
    color: white;
    font-style: italic;
    display: inline;
    font-weight: bold
}
.sometxt{
  color: darkgray;
}
.read{
  text-decoration:none;
  color: gray 
}
.quot{
  float: right;
}
.info{
  padding-left: 30px;
}
.footer{
  background-color: #0c0c0c;
     list-style: none;
  color: white;
  padding: 20px 70px;
  height:730px;
}

.footerhead{
  margin: 0;
}

.helplist, .infolist , .followlist{
  float: none;
}
.help , .contact-info {

    float: left;
  padding: 30px;
  width: 250px;
}
.follow{
  padding: 30px;
  float: left;
  margin-right:50px;
}
.triangle{
  width: 0;
height: 0;
border-style: solid;
border-width: 30px 25px 0 25px;
border-color: #64829c transparent transparent transparent;
margin-left: 40px;
}


.post-format {
    display: inline-flex;
    margin: 0px 10px;
    font-size: 20px;
    color: #628098;
}


.quot{
  float: right;
}


.logofot{
  
  padding: 20px;
}
.copy{
  float: right;
  color: gray;
}
.txt{
  color: gray;
}

footer{
  background-color: black;
      width: 1210px;
    margin-left: 20px;
}

.arrow{
  padding-right: 5px;
}
.last-sec{
  padding: 20px;
}


.followlist :hover{
 
   color: red;
}

 .helplist :hover{
 
   color: red;
}


.cont{

     color: grey;
}



.search-box{
  background: #E8E8E4;
  position: absolute;
  top: 68px;
  left: 1%;
  width: 300px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #D80B15;
  display: none;
  z-index: 1;
}

.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #D80B15;
}

.search-box input[type="text"]{
  width: 120px;
  padding: 5px 10px;
  margin-left: 23px;
  border: 1px solid #D80B15;
  outline: none;
}

.search-box input[type="button"]{
  width: 80px;
  padding: 5px 0;
  background: #D80B15;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #D80B15;
  outline: none;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
.search-box{
    width: 270px;
    right: -16%;
  }
  .search-box input[type="text"]{
    width: 140px;
    margin-left: 15px;
  }
  .search-box input[type="button"] {
    margin-right: 12px;
  }
}


.banner{
  width: 1250px;
}





.products2 ul li {
    width: 200px;
  }

   .slick-next:before {
    content: '>';
    font-size: 36px;
    font-weight: bolder;
    color: red;
    top: 50%;
    position: absolute;
    right: 50px;
    width: 32px;
    
}


 .slick-prev:before {
    content: '<';
    font-size: 36px;
    font-weight: bolder;
    color: red;
    top: 50%;
     position: absolute;
    right: -50px;
    
    }

.slick-arrow{

   z-index: 1;
}

.head{

   margin-left: 14px;
}


.brow{
       padding-right: 10px;
     

}

.multiple-items .slick-next{

  top:65px;
}


.multiple-items .slick-prev{

  top:65px;
}


